.container {
    z-index: 1;
}

.home-container {
    height: 300px;
    padding-left: 150px;
    z-index: 4;
}

.home-content {
    z-index: 6;
    position: relative;
}

.home-content h2 {
    padding: 5px;
    padding-top: 70px;
}

.home-content h1 {
    color: #00a3a4; /* Green for light mode */
    padding: 5px;
}

.home-buttons {
    position: absolute;
    margin-top: 20px;
    z-index: 6; 
}

.home-buttons .btn-cv {
    background-color: #007bff;
    color: white;
    margin-left: 15px;
}

.home-buttons .btn-cv:hover {
    background-color: aquamarine;
    color: #3b8ff3;
    width: 130px;
    transition: 1s;
}

.theme-btn {
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 4;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .home-container {
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }

    .home-container h2 {
        font-size: 24px;
    }

    .home-container h1 {
        font-size: 24px;
    }
}

#dark .home-content h1 {
    color: #BB86FC; /* Purple for dark mode */
}

#dark .home-buttons .btn-cv {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
}

#dark .home-buttons .btn-cv:hover {
    background-color: rgba(0, 255, 255, 0.8);
}

#dark .theme-btn {
    background-color: #2c2c2c;
}
