.navbar-profile-pic{
    border-radius: 90px;
    height: 150px;
    width: 150px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-item{
    color: white;
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 25px;
}

.nav-link{
    margin-top: 20px;
    cursor: pointer;
}

.nav-link svg{
    margin-right: 10px;
}

.nav-link:hover{
    color: rgb(183, 75, 13);
} 
.nav-link .active{
    color: rgb(183, 75, 13);
    border-left: 5px solid rgb(183, 75, 13);
    padding-left: 10px;
    text-decoration: none;
}