.education {
    padding: 100px 20px;
    margin: 50px 0;
    margin-left: 150px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.education hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.education h2 {
    font-weight: bold;
    color: #138781;
}

.vertical-timeline-element {
    padding: 20px;
}

@media (max-width: 600px) {
    .education {
        margin: 0;
        padding: 30px 10px;
    }
    .education h2 {
        padding-top: 20px;
    }
    .education hr {
        width: 280px;
        margin-bottom: 10px;
    }
}

#dark .education {
    background-color: rgba(30, 30, 30, 0.8);
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#dark .education hr {
    color: #BB86FC;
}

#dark .education h2 {
    color: #BB86FC;
}

#dark .vertical-timeline-element-title {
    color: #BB86FC;
}

#dark .vertical-timeline-element-subtitle {
    color: #CCCCCC;
}
